body {
  padding: 20px 100px;
  font-family: Roboto, Arial;
}

#twitter-logo {
  display: block;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

#tweet-box {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  border-bottom: solid;
}

#username {
  font-size: 20px;
  margin-right: 505px;
}

#tweet-content {
  display: block;
  overflow: hidden;
  resize: none;
  width: 750px;
  font-size: 20px;
  min-height: fit-content;
  font-family: Roboto, Arial;
  margin: 20px 0px;
}

#text-counter {
  margin-right: 700px;
  margin-bottom: -27px;
}

#tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-left: 675px;
  margin-bottom: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow 0.15s;
  vertical-align: top;
  opacity: 0.5;
}

#tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

#tweets {
  margin-top: 30px;
  font-size: 20px;
}

.tweet {
  margin-bottom: 25px;
}

.tweet-user {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
}

.tweet-date {
  font-size: 15px;
  color: gray;
  margin-top: 10px;
}